

.wbdv-add-course-button {
    position: absolute;
    color: red;
}

 /*
 this is a comment
  */
.wbdv-sticky-add-course-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: red;
}

.wbdv-add-course-button-header{
    position: relative;
    top: 0px;
    right: 10px;
}


/**
 * the <div container> for the sticky header stretches across the whole screen, not just encompassing the elements
 * this is done by indicating 0px for top, left, right
 */
.wbdv-sticky-header {
    position: fixed;
    top: 0px;
    background-color: steelblue;
    color: white;
    left: 0px;
    right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px;
}

.wbdv-header-spacing {
    left: 20px;
    right: 20px;
}

/**
 * This saves the top 90px for the fixed sticky header (so there's not overlap with the body when we scroll)
 */
body {
    padding-top: 90px;
}


.wbdv-nudge-15px-down {
    position: relative;
    top: 15px ;
}

.icon-spacing{
    margin-right: 20px;
}

.wbdv-row-header-color{
    background-color: whitesmoke;
}

.wbdv-course-manger-heading-nudge{
    bottom: -7px;
}

.wbdv-course-manger-heading-hamburger-nudge{
    left: 20px;
}

.table {
    width: 85%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


